h1,h2,h3,h4,h5,h6,ul,li{margin: 0;padding: 0px;}
li{list-style: none;float: left;}
a{text-decoration: none;}
html,body,section{
    width: 100%;
    height: 100%;
    background: url(https://unsplash.com/photos/AfKyYsE9j6w);
}
.namewebsite{
    text-align: center;
    font-size: 2.4rem;
    margin-top: 50px;
    color: #2fb765;
    margin-bottom: -10px;
}
.title{
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 10px;
}
.input{
    text-align: center;
}
.input input{
    font-size: 1.2rem;
    width: 600px;
    padding: 10px 10px 10px 30px;
    border: #2fb765 solid 2px;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    -webkit-filter: drop-shadow(1px 1px 5px gray);
    filter: drop-shadow(1px 1px 5px rgb(56, 56, 56));
}
/* input{
    font-size: 1.2rem;
    width: 600px;
    padding: 10px 10px 10px 30px;
    border: #2fb765 solid 2px;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    /* -webkit-filter: drop-shadow(1px 1px 5px gray); Safari */
    /* filter: drop-shadow(1px 1px 5px rgb(56, 56, 56)); */
/* } */
input:focus{
    outline:0;
}
.getlink{
    text-align: center;
    -webkit-filter: drop-shadow(1px 1px 5px gray);
    filter: drop-shadow(1px 1px 5px rgb(56, 56, 56));
}
button{
    font-size: 1.5rem;
    border-radius: 30px;
    background: #2fb765;
    border: #2fb765 solid 8px;
    /* -webkit-filter: drop-shadow(1px 1px 5px gray); Safari */
    /* filter: drop-shadow(1px 1px 5px rgb(56, 56, 56)); */
    color: white;
    /* margin: 10px 10px 10px 10px; */
}
button:hover{
    background-color: #20884a;
    border: 8px solid #20884a;
    cursor: pointer;
}
button:focus{
    outline: 0;
}
.infor{
    text-align: center;
    /* height: 100px; */
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.icon a i{
    font-size: 2.5rem;
    margin-right: 10px;
    color: #525352;
}
.icon a i:hover{
    color: #20884a;
}
.footer{
    margin-top: 164px;
    display: flex;
    align-items: center;
    height: 40px;
    background: #2fb765;
    text-align: center;
}
.download{
    /* height: 150px; */
    /* border: #20884a solid 1px; */
    padding-top: 40px;
}
.review{
    padding-left: 75px;
    margin-right: 40px;
}
.choice{
    /* width: 50px; */
    border: #2fb765 solid 1px;
}
.choice p{
    border: #2fb765 solid 2px;
    width: 100px;
    margin: auto;
    padding-left: 11px;
    border-radius: 2px;
}
#taive{
    font-size: 1.0rem;
    border-radius: 2px;
    background: #2fb765;
    border: #2fb765 solid 2px;
    /* -webkit-filter: drop-shadow(1px 1px 5px gray); Safari */
    /* filter: drop-shadow(1px 1px 5px rgb(56, 56, 56)); */
    color: white;
}
#taive:hover{
    background-color: #20884a;
    border: 2px solid #20884a;
    cursor: pointer;
}
#type{
    border: #2fb765 solid 2px;
    width: 100px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 4px;
    
}
#choice{
    display: flex;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
