h1,h2,h3,h4,h5,h6,ul,li{margin: 0;padding: 0px;}
li{list-style: none;float: left;}
a{text-decoration: none;}
body{
    overflow-x: hidden;
}
html,body,section{
    width: 100%;
    height: 100%;
    background-color: azure;
}
.namewebsite{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.namewebsite a b{
    font-size: 2.4rem;
    color: #2fb765;
}
.namewebsite a:hover{
    text-decoration: none;
}
.title{
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 10px;
}
.input{
    text-align: center;
    margin-bottom: 20px;
}
.input input{
    font-size: 1.2rem;
    width: 35%;
    padding: 10px 10px 10px 20px;
    border: #2fb765 solid 2px;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    -webkit-filter: drop-shadow(1px 1px 5px gray);
    filter: drop-shadow(1px 1px 5px rgb(56, 56, 56));
}
input:focus{
    outline:0;
}
.getlink{
    text-align: center;
}
button{
    font-size: 1.5rem;
    border-radius: 8px;
    background: #2fb765;
    border: #2fb765 solid 5px;
    -webkit-filter: drop-shadow(1px 1px 5px gray);
    filter: drop-shadow(1px 1px 5px rgb(56, 56, 56));
    color: white;
} 
button:hover{
    background-color: #20884a;
    border: 5px solid #20884a;
    cursor: pointer;
}
button:focus{
    outline: 0;
}
.icon{
    text-align: center;
    height: 150px;
    margin-top: 85px;
}
.icon a{
    font-size: 2.5rem;
    color: #525352;
    margin-left: 5px;
    margin-right: 5px;
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.icon a:hover{
    color: #20884a;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.footer{
    margin-top: 52px;
    display: flex;
    align-items: center;
    height: 40px;
    background: #2fb765;
    text-align: center;
}
.review{
    text-align: center;
    margin-top: 40px;
    height: 250px;
}
.format{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

div h6{
    border: #2fb765 solid 2px;
    font-size: 1.2rem;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
}
#format{
    margin-right: 15px;
}
#radio input{
    margin-left: 15px;
    margin-right: 15px;
}
